*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.clock{
    display: flex;

}

.clock > div{
    width: 150px;
    padding: 20px;
    text-align: center;
    background-color: brown;
    color: white;
    margin-right: 20px;
    border-radius: 7px;
}

.clock > div > h2{
    font-size: 40px;
}